@model BAZIPROEEKT.Models.Let

@{
    ViewBag.Title = "Create";
}

<h2   style="color: burlywood;font-size: 20px;">Додади лет:</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4  style="color:cadetblue">Лет</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p style="color: burlywood">
                @Html.LabelFor(model => model.destinacija_od, htmlAttributes: new { @class = "control-label col-md-2" })
                </p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.destinacija_od, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.destinacija_od, "", new { @class = "text-danger" })
                </div>
        </div>

        <div class="form-group">
            <p style="color: burlywood">
                @Html.LabelFor(model => model.destinacija_do, htmlAttributes: new { @class = "control-label col-md-2" })
                </p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.destinacija_do, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.destinacija_do, "", new { @class = "text-danger" })
                </div>
        </div>

        <div class="form-group">
            <p style="color: burlywood">
                @Html.LabelFor(model => model.datum, htmlAttributes: new { @class = "control-label col-md-2" })
                </p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.datum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.datum, "", new { @class = "text-danger" })
                </div>
        </div>

        <div class="form-group">
            <p style="color: burlywood">
                @Html.LabelFor(model => model.cena, htmlAttributes: new { @class = "control-label col-md-2" })
                </p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cena, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cena, "", new { @class = "text-danger" })
                </div>
        </div>

        <div class="form-group">
            <p style="color: burlywood">
                @Html.LabelFor(model => model.id_avio, htmlAttributes: new { @class = "control-label col-md-2" })
                </p>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.id_avio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.id_avio, "", new { @class = "text-danger" })
                </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
