@model BAZIPROEEKT.Models.Let

@{
    ViewBag.Title = "Details";
}

<h2    style="color:burlywood">Детали за:</h2>

<div>
    <h4 style="color:cadetblue">@Model.destinacija_od-@Model.destinacija_do</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p style="color: burlywood">
                @Html.DisplayNameFor(model => model.destinacija_od)
                </p>
        </dt>

        <dd>
            <p style="color:  cadetblue">
                @Html.DisplayFor(model => model.destinacija_od)
                </p>
        </dd>

        <dt>
            <p style="color: burlywood">
                @Html.DisplayNameFor(model => model.destinacija_do)
                </p>
        </dt>

        <dd>
            <p style="color:  cadetblue">
                @Html.DisplayFor(model => model.destinacija_do)
                </p>
        </dd>

        <dt>
            <p style="color: burlywood">
                @Html.DisplayNameFor(model => model.datum)
                </p>
        </dt>

        <dd>
            <p style="color:  cadetblue">
                @Html.DisplayFor(model => model.datum)
                </p>
        </dd>

        <dt>
            <p style="color: burlywood">
                @Html.DisplayNameFor(model => model.cena)
                </p>
        </dt>

        <dd>
            <p style="color:  cadetblue">
                @Html.DisplayFor(model => model.cena)
                </p>
        </dd>

        <dt>
            <p style="color: burlywood">
                @Html.DisplayNameFor(model => model.id_avio)
                </p>
        </dt>

        <dd>

            <p style="color:  cadetblue">
                @Html.DisplayFor(model => model.id_avio)
                </p>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_let }) 
    @Html.ActionLink("Back to List", "Index")
</p>
